@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu',sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
}

.bg {
    background: url('https://wallpaperaccess.com/full/6645896.png') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px)
}

.loading-text {
    font-size: 50px;
    color: #fff;
}